.header_custom table thead > tr > th {
    background-color: #00d0ff !important;
    color: white !important;
    text-align: center !important;
}

.header_custom table thead > tr > th:nth-child(2) {
    width: 250px !important;
}

.header_custom table tbody > tr > td {
    text-align: center !important;
}